@import "null.css";

body {
  font-family: Lato;
}

.container {
  width: 72.2%;
  margin: 0 auto;
}

.block {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-size: 34px;

  h1 {
    line-height: 40px;
    font-weight: 900;
    color: #fff;
  }

  h2 {
    line-height: 1.2;
    font-weight: 700;
  }

  &:after {
    content: '';
    background-color: #000;
    width: 81px;
    height: 1px;
    display: block;
    margin: 35px auto;
  }

}

.button-block {
  width: 182px;
  height: 47px;
  margin: 0 auto;
}

.button {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 44px;
  font-size: 16px;
  border: 2px solid black;
  color: #000;

}

header.head {
  background: url(../img/BG-Header.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0 auto;

  min-height: 100%;

  .header-logo {
    margin: 96px auto 90px;
    width: 195px;

    img {
    }
  }

  .header-block {

    text-align: center;

    span {
      text-transform: none;
      color: #fff;
      font-size: 26px;
    }

    &:after {
      content: '';
      background-color: #fff;
      width: 105px;
      height: 2px;
      margin-top: 49px;
      margin-bottom: 134px;
    }
  }

  .header-button {

    a.header-button__more {
      border: 2px solid white;
      color: #fff;
    }

    &:after {
      content: '';
      width: 17px;
      height: 10px;
      margin: 0 auto;
      background: url(../img/arrow-down.png) 0 0 no-repeat;
      display: block;
      margin-top: 75px;
    }
  }
}

.menu {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #3c3c3c;

  li {
    display: inline-block;
    padding: 0 0 0 50px;

    a {
      color: inherit;
    }

    &:first-child {
      color: #ada074;
      padding: 0;
    }
  }

}

nav.main {
  .main-nav {
    margin: 0 0 120px 0;
    padding: 20px 0 20px 0;

    ul.main-nav__ul {
      li {
        a {

        }
      }


    }
  }
}


section.about {
  .block.about-block {

  }

  .about-text {
    text-align: center;
    padding: 0 223px 0 233px;
    line-height: 25px;
    font-weight: 300;
    color: #868585;
    margin: 0 0 69px 0;
  }

  .about-row {
    margin: 0 0 95px 0;
    overflow: hidden;
    padding: 0 144px 0 177px;
    display: flex;

    .about-col {
      width: 30%;
      text-align: center;
      &:nth-child(2)
      {
        flex: 1 1 40%;
      }
      .about-col__logo {
        margin: 0 auto 20px;
        display: flex;
        width: 92px;
        height: 92px;
        border-radius: 45px;
        border: 2px solid #f1f1f1;

        img.about-col__logo_img {
          margin: auto;
        }
      }

      .about-col__title {
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: 0.16em;
        margin: 0 0 36px 0;
      }

      .about-col__text {
        line-height: 26px;
        font-weight: 300;
        color: #868585;
       }
    }


  }
}

section.portfolio {
  background-color: #f3f3f3;
  padding: 107px 20px 62px 20px;

  .block.port-block {
  }

  nav.port {
    .menu.port-nav {
      margin: 0 0 136px 0;
    }

    ul.port-nav__ul {
      li {
        a {
        }
      }
    }
  }

  .port-row {
    overflow: hidden;

    .port-col {
      float: left;

      width: 538/1144*100%;

      img {
        width: 100%;
      }

      &:nth-child(even) {
        margin: 0 20px 16px 27px;
      }
    }
  }

  .port-button {
    margin-top: 48px;

    a.button.port-button__more {
    }
  }
}


section.partners {
  background: url(../img/bg-partners.png) center bottom no-repeat;
  padding: 101px 0 104px 0;

  h2 {
    font-size: 30.4px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 95px;
  }

  .partners_list {
    width: 48.9510%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 109px;

    }


  }
}


section.contact {
  padding: 183px 0 102px 0;

  .block.contact-block {
  }

  .contact-row {
    width: 100%;
    margin: 0 auto;
    padding: 0 125px 0 125px;
    overflow: hidden;

    .contact-col {
      width: 50%;
      float: left;

      form.contact-form {
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.06em;

        .contact-row-form {
          overflow: hidden;
          width: 383px;

          .contact-col-form-2 {
            width: 50%;
            float: left;

            input {
              background-color: #f8f7f7;
              border-top: 1px solid black;
              width: 161px;
              height: 35px;
              margin: 19px 0 75px 0;

            }

            &:last-child {
              padding-left: 30px;
            }
          }


          input.contact-form__text {
          }

          .contact-col-form {
            width: 100%;
            overflow: hidden;

            textarea.contact-form__textarea {
              width: 383px;
              height: 118px;
              background-color: #f8f7f7;
              border-top: 1px solid black;
            }

            input.contact-form__button {
              /*не понял я, почему тут не наследуется*/
              line-height: 1.2;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 0.06em;
              float: right;
              margin-top: 42px;
            }
          }

        }
      }
    }
  }

  .contact-col {
    .contact-text {
      line-height: 26px;
      font-weight: 300;
      width: 253px;
      margin: -7px 0 24px 0;
    }

    .contacts {
      width: 253px;

      span.sign {
        margin-bottom: 20px;
        display: block;
        font-weight: 700;
      }

      .contact-icons {
        display: inline-flex;
        border: 3px solid #000;
        border-radius: 45px;
        width: 29px;
        height: 29px;
        margin-bottom: 15px;

        a.contact-icons__link {
          display: inline-block;
          margin: auto;

          img {
          }
        }
      }

      span.mail {
        display: block;

        a {
          font-weight: 700;
          color: inherit;
        }
      }
    }
  }
}


footer.footer {
  padding: 48px 0 49px 0;
  background-color: #3c3c3c;

  .footer-logo {
    overflow: hidden;
    width: 122px;
    height: 78px;
    margin: 0 auto 41px;

    img {
      max-width: 100%;
    }
  }

  .footer-contacts {
    text-align: center;
    margin-bottom: 34px;

    ul {
      li {
        display: inline-block;
        color: #a4a4a4;
        padding: 0 0 0 20px;
        line-height: 1.2;

        a {
          color: inherit;
        }

        &:first-child {
          padding: 0;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    line-height: 1.2;
    font-family: 'Myriad Pro';
    color: #6c6c6c;
  }
}
